body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}

button {
    padding: 20px;
    flex: 0 1 200px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 10px solid black;
}

.container .row {
    flex: 1;
    display: flex;
}

.column {
    flex: 1;
    background: white;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 30px;
}

.colors button {
    flex: 0 1 50px;
}